/* ======= RESET ======= */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Consolas, monospace;
}

body{
    background:#000;
    color:#00ff9d;
    overflow-x:hidden;
}

/* ======= NAVBAR ======= */
nav{
    width:100%;
    padding:15px;
    background:rgba(0,0,0,0.75);
    border-bottom:1px solid #00ff9d;
    display:flex;
    align-items:center;
    justify-content:space-between;
    backdrop-filter:blur(5px);
    position:sticky;
    top:0;
}
nav h1{
    font-size:22px;
    color:#00ff9d;
}
nav button{
    background:none;
    border:1px solid #00ff9d;
    color:#00ff9d;
    padding:6px 10px;
    border-radius:5px;
    font-size:16px;
}
nav button:hover{
    background:#00ff9d;
    color:black;
    transition:0.3s;
}

/* ======= PAINEL LATERAL ======= */
#side{
    position:fixed;
    top:0;right:-300px;
    width:250px;height:100%;
    background:#020202;
    border-left:1px solid #00ff9d;
    padding:20px;
    transition:0.4s;
}
#side.active{
    right:0;
}
#side h2{
    margin-bottom:10px;
}
#side a{
    display:block;
    text-decoration:none;
    margin:10px 0;
    color:#00ff9d;
}

/* ======= ÁREAS ======= */
section{
    padding:30px;
}
h2{
    color:#00ff9d;
    margin-bottom:15px;
    border-left:4px solid #00ff9d;
    padding-left:8px;
}
.box{
    background:#050505;
    border:1px solid #00ff9d;
    padding:15px;
    margin-bottom:15px;
    border-radius:5px;
}

/* ======= CÓDIGO ======= */
pre{
    background:#000;
    border:1px solid #00ff9d;
    padding:10px;
    overflow-x:auto;
    color:#00ff9d;
}

/* ======= CANVAS ======= */
#matrix{
    position:fixed;
    top:0;left:0;
    width:100%;
    height:100%;
    z-index:-1;
    background:black;
}
